.gamehub-container {
  margin-top: 1.5rem;
  width: 90%;
}

.home-button {
  margin-bottom: -30px;
}

.favorite-button {
  margin-bottom: -30px;
}

.search-button {
  margin-top: 0px;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}