.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    width:100%;
  }
  
  .home-button {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .home-container h1 {
    color: black;
  }
  .home-button:hover {
    background-color: #0056b3;
  }
.price-info{
  color: black;
}

.title{
  font-size: 80px;
  font-weight: 600;
  color: black;
}