.container {
  margin: 15px;
}

.formControl {
  margin: 0.5rem;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no-games{
  font-size: 1.5rem;
  color: #ffffff;
  margin-top: 10rem;
  margin-bottom: 10rem;
}