.Search-container {
    padding: 0px;
    justify-content: center;
  }
  
  .home-button {
    margin-bottom: -30px;
  }

  .favorite-button {
    margin-bottom: -30px;
  }

  .topTen-button {
    margin-top: 0px;
  }
  
  .games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }